hello-world {
    h1 {
        text-align: center;
        color: steelblue;
        width: 90%;
        margin-left: 5%;
        border: 2px solid lightgrey;
        border-radius: 20px;
        span {
            color: slategray;
        }
    }
}